p {
   color: gray;
   background-color: purple;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: center;
   text-align: center;
   border: 5px solid plum;
   padding: 5px;


}
